.top-mobile{
    background-image: url(images/mobile/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 500px;
}
.top-desktop{
    background-image: url(images/desktop/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 500px;
}
.navbar-toggler-icon{
    filter: invert(1);
}
.bg-primary{
    background-color: #3ebfff !important;
}