h1, h2, h3{
    font-family: 'Fraunces', serif;
}
p{
    font-family: 'Barlow', sans-serif;
}
.top-mobile{
    background-image: url(images/mobile/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 500px;
}
.top-desktop{
    background-image: url(images/desktop/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 500px;
}
.navbar-toggler-icon{
    filter: invert(1);
}
.bg-primary{
    background-color: #3ebfff !important;
}
.cta{
    position: relative;
    display: block;
    font-family: 'Fraunces', serif;
}
.cta:after{
    position: absolute;
    display: block;
    bottom: 0px;
    border-radius: 6px;
    left: -7px;
    height: 9px;
    width: 125px;
    content: "";
    z-index: -1;
}
.a .cta::after{
    background-color: hsl(51, 100%, 49%);
}
.b .cta::after{
    background-color: hsl(7, 99%, 70%);
}
@media(min-width:768px){
    .a .text-box, 
    .b .text-box{
        height: 100%;
    }
}
